<%- model_class = VehicleFine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:vehicle_id) %></th>
      <th><%= model_class.human_attribute_name(:fine_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicle_fines.each do |vehicle_fine| %>
      <tr>
        <td><%= link_to vehicle_fine.id, vehicle_fine_path(vehicle_fine) %></td>
        <td><%= vehicle_fine.vehicle_id %></td>
        <td><%= vehicle_fine.fine_id %></td>
        <td><%=l vehicle_fine.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      vehicle_fine_path(vehicle_fine), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vehicle_fine_path(vehicle_fine), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vehicle_fine_path(vehicle_fine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vehicle_fine_path,
            :class => 'btn btn-primary' %>
